*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
}
form div{
  padding-bottom: 1em;
}
form input{
  padding: 0.3em;
}
.submit{
  width: 8em;
  height: 2em;
  background: white;
  border: 1px solid crimson;

}
table{
  width: 80%;
 
  align-items: center;
}
table .list{
  width: 100%;
}
td th{
  border: 1px solid black;
  text-align: center;
  padding: 8px,
}
tbody tr{
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid ;
  border-radius: 4px;
}
form .form-buttons{
  text-align: right;
}
form div{
  padding: 2em;
}