*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
}
form div{
  padding-bottom: 1em;
}
form input{
  padding: 0.3em;
}
.submit{
  width: 8em;
  height: 2em;
  background: white;
  border: 1px solid crimson;

}
table{
  width: 80%;
 
  align-items: center;
}
table .list{
  width: 100%;
}